@font-face {
  font-family: "NEXT_ART_Bold";
  src: url(../assets/fonts/NEXT_ART_Bold.ttf);
}

@font-face {
  font-family: "NEXT_ART_Heavy";
  src: url(../assets/fonts/NEXT_ART_Heavy.ttf);
}

@font-face {
  font-family: "NEXT_ART_Light";
  src: url(../assets/fonts/NEXT_ART_Light.ttf);
}

@font-face {
  font-family: "NEXT_ART_Regular";
  src: url(../assets/fonts/NEXT_ART_Regular.ttf);
}

@font-face {
  font-family: "NEXT_ART_SemiBold";
  src: url(../assets/fonts/NEXT_ART_SemiBold.ttf);
}